
.main-page{
    background-color: #99738E;
}
.navbar{
    padding: 10pt;
    background-color: #242582;
}
.card-img{
    max-height: 100%;
    max-width: 100%;
}
.allvids{
    margin-top: 50px;
}

#mainDiv > * {
    display: block;
    margin-top: 30px;
}

#mainDiv > *:first-child {
    margin-top: 0px;
}

.input-group *{
    display: block;
    margin-top: 30px;
}