<!DOCTYPE html>
<html lang="en" ,xmlns="http://www.thymeleaf.org">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" >
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>YouTube clone</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">YouTube for poor people</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item" th:if="!${#authorization.expression('hasRole(''ROLE_USER'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" th:href="@{loginpage.html}">Login</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_USER'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" th:href="@{/perform_logout}" th:action="@{/perform_logout}">Log out</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_USER'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" th:href="@{/api/channels/}">Channel</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_USER'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" href="#">Playlists</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_USER'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a class="nav-link" th:href="@{/api/videos/}">Browse videos</a>
            </li>
        </ul>

    </div>
</nav>
<div class="main-page">

    <div class ="mainDiv" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <h1>Vase plejliste</h1>

        <div th:each="playlist : ${playlists}" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img th:src="${playlist.imageSrc}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body"><a th:href="@{/api/playlists/{id}(id = ${playlist.id})}">
                        <h5 class="card-title" th:text="${playlist.name}"></h5>
                    </a>
                        <p class="card-text">Kategorije ove plejliste su:</p>
                        <p class="card-text" th:each="category : ${playlist.categories}" th:text="${category.name}"></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <form th:action="@{/api/channels/{channelid}/playlists/delete/{playlistid}/ (channelid= ${channel.id} , playlistid = ${playlist.id})}" th:method="delete">
                            <input class="btn-danger" type="submit" value="delete" />
                        </form>
                        <div class="input-group">
                            <p>Update the position of the playlist:</p>
                            <form action="#" th:object="${playlistchannel}"  th:action="@{/api/channels/{channelid}/playlists/{playlistid}/to/{newindex} (channelid = ${channel.id} , playlistid = ${playlist.id}, newindex = ${playlistchannel.orderNumber})}" method="post">
                                <label for="pclOrderNumber">New position</label>
                                <input type="text" class="form-control col-mb-6" th:field="*{orderNumber}" id="pclOrderNumber" placeholder="New position"> &nbsp; &nbsp;
                                <input type="submit" value="Update" class="form__button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h5>Dodavanje nove plejliste:</h5>

            <a th:href="@{/api/playlists/add}" class="btn btn-success">Add playlist</a>

        </div>
    </div>


</div>

<div id ="mainDiv" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <h1>Sve plejliste</h1>
    <div th:each="playlist : ${playlists}" class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:src="${playlist.imageSrc}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body"><a th:href="@{/api/playlists/{id}(id = ${playlist.id})}">
                    <h5 class="card-title" th:text="${playlist.name}"></h5>
                </a>
                    <p class="card-text">Kategorije ove plejliste su:</p>
                    <p class="card-text" th:each="category : ${playlist.categories}" th:text="${category.name}"></p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <form th:method="delete" th:object="${playlist}" th:action="@{/api/playlists/{playlistid} (playlistid = ${playlist.id})}">
                        <input class="btn-danger" type="submit" value="delete" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>